/*https://coolors.co/011638-2e294e-9055a2-d499b9-e8c1c5*/

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
    font-family:"Kdam Thmor Pro", sans-serif;
}


.container{
    background-color: #E8C1C5;
    margin: 0 auto;
    width: 80ww;
    max-width: 1200px;
}

header{
    background-color: #2E294E;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-bottom: 10px;
}

header nav{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

header nav a{
    text-decoration: none;
    color: black;
    background-color: #D499B9;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}

header nav a:hover{
    background-color: black;
    color: #D499B9;
    transition: 0.3s;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #D499B9;
    margin: 10px auto;
    width: 80%;
}

footer{
    background-color: #2E294E;
    color: #E8C1C5;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    }

    @media (min-width: 600px){
        header nav{
            flex-direction: row;
            gap: 10px;
        }
        main{
        display: flex;
        gap: 30px;
        margin: 0 20px;
        }
    }


    /*Form*/

    form{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    label {
        display: block;
        padding-bottom: 7px;
    }

    /* .send-button-container input{
        width: 30px;
        min-width: 100px;
    } */

    @media (min-width: 600px){
        form{
            grid-te-cemplate-columns: repeat(2, 1fr);
        }
        .send-button-container{
            grid-column: span 2;
            text-align: center;
        }
    }